
 @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
 
 /* general styling */

 :root{
  --primary: #4b4b4b;
  --secondary: #0f7da8;
}

body {
  margin: 0;
  font-family: "Raleway";
  max-height: auto;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(229,235,236,1) 5%, rgba(199,210,210,1) 30%, rgba(180,203,204,1) 75%, rgba(235,241,241,1) 91%);
}

.container-body{
  margin: 0 auto;
}

.container-main {
  display: grid;
  gap: 20px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.navbar{
 float: right;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgba(209, 209, 209, 0.644);
}

.navbar .signOut{
  background-color: rgb(218, 108, 6);
  border-radius: 12px;
  color: white;
  margin-left: 30px;
  margin-right: 10px;
}

.header{
  margin-left: 20px;
}

.header h1{
  color: var(--primary);
  font-size: 2.1rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 15px;
}

.header h2{
  color: var(--primary);
  margin-top: 60px;
  font-size: 1.4rem;
  margin: 15px;
}

img {
  height: 300px;
  width: 400px;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 40px;
  height: 100%;
  width: 100%;
  place-items: center;
  
}

.card-container .card {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 10px;
  min-width: 200px;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
  transition: 0.5s;

}

.add-post-form {
  background: linear-gradient(0deg, rgba(241,241,241,1) 28%, rgba(205,205,205,1) 67%);
  padding: 20px 10px;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 3px 5px 7px rgba(165, 165, 165, 0.5);
  border: 3px solid white;
  place-self: center;
}

.btn-primary{
  background-color: rgb(35, 166, 218);
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 3px 5px 7px rgba(210, 217, 223, 0.5); 
}

.btn-primary:hover {
  background-color: rgba(35, 133, 212, 0.644);
}

.progress-bar{
  background: grey;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 15px;
}